.container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 2px 4px 0 #E8E8E8, 0 3px 10px 0 #E8E8E8;
}

p {
    margin-bottom: 0 !important;
}

.category {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    min-width: 25%;
    margin-right: 6%;
}

.category h6 {
    margin-left: 5%;
    margin-bottom: 0;
}