.dropdown {
    width: 200px;
    height: 45px;
    color: #555555;
    background-color: white;
    -webkit-appearance: textfield;
    border-style: inset;
    font-size: 18px;
    margin-right: 10px;
    border-radius: 5px;;
}

.error {
    color: red;
}