.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.submit {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    background: cornflowerblue;
    color: white;
    font-size: 20px;
    margin-right: 50px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}