.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    height: 330px;
    background-color: white;
    box-shadow: 0 3px 6px 0 #E8E8E8, 0 6px 20px 0 #E8E8E8;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
}

.image {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.textContainer {
    padding: 7px;
}

.title {
    font-size: 1rem;
    font-weight: bold;
}

.price {
    font-size: 0.8rem;
}

.position {
    margin-left: 80%;
    font-size: 0.8rem;
}

.buttoncontainer {
    width: 100%;
    margin-top: auto;
}

.buttonTo {
    width: 100%;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    background-color: var(--button-navigate) !important;
    border-color: var(--button-navigate) !important;
}