.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
}

.input {
    width: 500px;
    height: 40px;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 5px;
}

