.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#mapid {
  margin-top: 3rem;
  height: 30rem;
  width: 70%;
}

.modal {
  display: block !important;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.leftMargin10 {
  margin-left: 10% !important;
}

.rightMargin10 {
  margin-right: 10%;
}

.announcement {
  margin: auto;
  width: 80%;
  margin-top: 10rem;
}

.registration-wrapper {
  margin-top: 4rem;
}

.alignCenter {
  text-align: center;
}

.bg-blue {
  color: black;
  bottom: 0px;
  width: 100%;
  margin-top: 2rem;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
}

.navfootColor {
  background-image: url('footer-bg.png');
}

#login-button {
  color: white !important;
  width: 5rem !important;
  border: 2px solid white !important;
  background: none !important;
  border-radius: 5px !important;
}

#login-button-dark {
  color: black !important;
  width: 5rem !important;
  border: 2px solid black !important;
  background: none !important;
  border-radius: 5px !important;
}

.registration-button {
  color: white !important;
  border: 2px solid white !important;
  border-radius: 5px !important;
  display: block !important;
  margin: auto !important;
  margin-bottom: 2rem !important;
}

.binding-text {
  width: 80%;
  margin: auto;
  background-color: white;
  color: black;
  padding: .5rem 0 0 .5rem ;
  border-top: .5rem solid rgb(74,174,233);
}

.form-group {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  max-height: 15rem;
}

.side-bar-map {
  width: 15%;
  margin: auto;
}

.plot-wrapper {
  margin: 3rem auto;
  display: block;
  width: 90%;
}

.rv-xy-plot {
  width: 10rem !important;
  height: 10rem !important;
}

.plot {
  width: 15rem;
  height: 25rem;
  margin: .5rem;
}

.dropdown-button {
  border: none;
  background-color: rgb(74,174,233);
  margin: auto;
}

.width80 {
  width: 80% !important;
  margin: auto;
}

.welcome-wrapper {
  display: grid;
  height: 35rem;
  width: 100%;
  background-size: 100% auto;
  background-image: url('header.jpg');
}

.plot3inner {
  margin-top: 2.3rem;
}

.white {
  color: white;
}

.secondary-color{
  color: white;
  background-color: rgb(74,174,233);
}

.img-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.secondary-color-opac{
  color: white;
  border-radius: 5px;
  background-color: rgb(74,174,233, .7);
}

.inner-wrapper {
  margin: 4rem 10rem 0rem 10rem;
  border-radius: 5px;
}


.navbar-brand {
  color: black !important;
}

.dark {
  color: black !important;
}

.navbar {
  background-color: transparent;
  opacity: 1;
  position: absolute !important;
  width: 100%;
}

.navbar-button-wrapper {
  display: flex;
  width: 18rem;
}

.search-scrap {
  margin: -5rem auto auto;
  border: none;
  height: 4rem;
  width: 30rem;
  border-radius: .3rem;
  padding-left: 1rem;
}

.search-icon {
  margin-left: -2rem;
}

.section-top-border {
  border-top: .6rem solid rgb(121, 56, 128);
}

.marginTop15 {
  margin-top: 1.5rem
}

.shallow {
  font-weight: 200;
}

.popularCategory {
  margin-left: .5rem;
  margin-top: .5rem;
  padding: .4rem;
  width: auto;
  height: 2.5rem;
  display: inline-block;
  border-radius: .8rem;
  border: 1px solid rgb(121, 56, 128);
}

.company_name {
  color: white;
}

.about-wrapper {
  margin-top: 5rem;
}

.about-text-text {
  margin-top: 2rem;
  font-size: large;
  font-weight: 300;
}

.about-sub-title {
  color: rgb(121, 56, 128);
}