:root {
  --primary-color: #2A6A9E;
  --secondary-color: #4682B4;
  --tertiary-color: #5E99C5;
  --quaternary-color: #B6D4E7;

  --button-primary: #3CB371;
  --button-navigate: #9A2A6A;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-icon {
  cursor: pointer;
}

.navbar {
  top: 0;
  height: 75px;
}
